.url-list li{
    list-style: none;
    background-color: paleturquoise;
    padding: .5em;
    border-radius: 1em;
    border-style: solid;
    border-width: 2px;
    border-color: darkcyan;
    font-size: 2em;
}